<p>========================================================</p>
<b>Time Elapsed - Encoding</b>
	
<p>========================================================</p>

<b>- Playback Preview</b>
<p><%= @video.url %></p>

<b>- SMIL File URL</b>
<p><%= @video.smil %></p>

<b>- HTML5 Video URL</b>
<p><%= @video.m3u8 %></p>

<p>========================================================</p>


