<div class="section">
	<div class="box">
		<div class="title">
			<h2><%= @title %> (<%= @videos.count %>)</h2>
			<span class="Hide"></span>
		</div>
		<div id="videos">
			<%= render 'shared/video_items'%>
		</div>
		
	</div>
</div>


